<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kidsdynamic.swing">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".SwingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppThemeViewlib">

        <!--设置支持全面屏（分辨率大于16:9，屏占比大于80%）-->
        <!-- <meta-data android:name="android.max_aspect" android:value="2.1"/>-->

        <activity
            android:name=".presenter.SignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity
        android:name=".presenter.MainFrameActivity"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden" />

    <activity
        android:name=".presenter.VirtualCameraActivity"
        android:screenOrientation="portrait"
        android:theme="@style/ThemeTranslucent" />

    <activity
        android:name=".presenter.VirtualResultActivity"
        android:screenOrientation="portrait" />

    <activity
        android:name=".presenter.VirtualAlbumActivity"
        android:screenOrientation="portrait"
        android:theme="@style/ThemeTranslucent" />

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@mipmap/notification_icon" />

    <service
        android:name=".fcm.SwingMessageService"
        android:exported="false">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
    </service>

    <service
        android:name=".fcm.SwingFirebaseIDService"
        android:exported="false">
        <intent-filter>
            <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
        </intent-filter>
    </service>

    <!-- The below is for testing -->
        <activity android:name=".MainActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".presenter.ActivityTest" />
        <activity
            android:name="com.kidsdynamic.swing.bletest.SwingLogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kidsdynamic.swing.bletest.SwingScanActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
    </application>

</manifest>